# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
env/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Others
*.swp
.idea/ 